<div id="main" class="<%= item.layout %>" itemscope itemprop="blogPost">
  <% if (page.layout=='photo' && item.photos && item.photos.length){ %>
    <%- partial('gallery') %>
  <% } %>
	<article itemprop="articleBody"> 
		<%- partial('header') %>
	<div class="article-content">
		<% if( table&&(item.toc !== false) && theme.toc.article){ %>
		<div id="toc" class="toc-article">
			<strong class="toc-title"><%= __('contents') %></strong>
		<% if(item.list_number == false) {%>
		<%- toc(item.content,{list_number:false}) %>
		<% }else{ %>
            <div style="font-size: 15px;color: #cc0000;">
            <p>转载请注明 作者:源码先生, 文章链接:<%- config.url %><%- config.root %><%- item.path %>, 请勿用于商业用途</p>
            </div>            
			<%- toc(item.content) %>
		<% } %>
		</div>
		<% } %>
		<%- item.content %>  
	</div>
		<%- partial('footer') %>   	       
	</article>
	<%- partial('pagination') %>
	<%- partial('comment') %>
</div>  